bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.EmailParsing/.idea/encodings.xml
/.idea/.idea.EmailParsing/.idea/indexLayout.xml
/.idea/.idea.EmailParsing/.idea/vcs.xml
/.idea/.idea.EmailParsing/.idea
/.vs
